.p-3 {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    width: 500px;
}
h2 {
    text-align: center;
    font-weight: bold;
}
input {
    width: 330px;
}
button {
    background-color: crimson;
} 
.btn-block {
    margin-left: 140px;
}
.form-div {
    /* margin-left: 100px; */
    width: 500px;
}
ul.list {
    list-style-type: none;
    margin-top: 70px;
    margin-left: 200px;
}
ul.list li {
    margin-bottom: 20px;
}